* {
  box-sizing: border-box;
}

.App {
  display: grid;
  max-height: 100vh;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "calendar calendar";

  &.App-showFilters {
    grid-template-areas:
      "header filters"
      "calendar filters";
  }
}

.Header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  padding: 0 2rem;
  color: #333;
  border-bottom: 1px solid #ccc;

  .Header__controls {
    display: grid;
    grid-gap: 1rem;
  }
}

.Filters {
  grid-area: filters;
  padding: 1rem;
  min-width: 200px;
  border-left: 1px solid #ccc;

  .Filters__form {
    display: grid;
    grid-gap: 1rem;

    input[type="text"] {
      padding: 0.25rem;
      // font-size: 1rem;
    }
  }
}

.EventsLoader {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.EventsLoader__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.EventsLoader__form {
  width: 100%;
  padding: 1rem 0;
  display: grid;
  grid-gap: 0.5rem;

  textarea {
    width: 100%;
    height: 10rem;
  }

  .EventsLoader__error {
    color: red;
  }
}

.CodeSnippet {
  position: relative;
  width: 100%;
  height: 10rem;
  margin: 1rem 0;
  font-size: 12px;

  .CodeSnippet__copy {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.Calendar {
  grid-area: calendar;
  padding: 1rem;
  overflow-y: auto;
}

.ReactModal__Overlay {
  z-index: 1000;
}
