.Button {
  padding: 0.6rem;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background-color: #3174ad;
  border: none;

  &:active {
    background-color: #265985;
  }

  &:disabled {
    background-color: #aaa;
  }
}
